* {
    --main-font: "DM Sans";
    --primary-1: #9B287B;
    --primary-2: #5C164E;
    --primary-3: #ECCBD9;

    --secondary-1: #D9DBE9;

    --neutral-100: #170F49;
    --neutral-200: #514F6E;
    --neutral-300: #6F6C90;
    --neutral-400: #A0A3BD;
    --neutral-500: #D9DBE9;
    --neutral-600: #EFF0F6;
    --neutral-700: #F7F7FB;
    --neutral-800: #FFFFFF;

}

footer {
    margin-top: 3000px;

    .wrap-footer-blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .soc-network {
        width: 11px;
        height: 19px;

    }


    .footer-block {
        display: flex;
        flex-direction: column;
        width: 10%;

        h6 {
            color: var(--neutral-100);
            margin: 0;
            margin-bottom: 1rem;
        }

        a {
            color: var(--neutral-300);
            list-style-type: none;
            text-decoration: none;
        }

        p,
        ul {
            margin: 0;
            padding-left: 0px;
        }

        li {
            margin-bottom: 1rem;
        }

    }

    .footer-block-5 {
        li {
            display: flex;
            flex-direction: row;
        }

        p {
            margin: 0 auto;
        }
    }
}