footer {
    padding: 20px;
    background: var(--neutral-300);


    .wrap-footer-blocks {
        display: grid;
        grid-template-columns: 1.3fr repeat(3, 1fr);
    }

    .soc-network {
        width: 2rem;
        fill: #9B287B;

    }


    .footer-block {
        display: flex;
        flex-direction: column;


        h6 {
            color: var(--neutral-800);
            margin: 0;
            margin-bottom: 1rem;
        }

        a,
        p {
            color: var(--neutral-600);
            list-style-type: none;
            text-decoration: none;
        }

        p,
        ul {
            margin: 0;
            padding-left: 0px;
        }

        li {
            margin-bottom: 1rem;
        }

    }

    .footer-block-1 {

        justify-self: center;
        gap: 1rem;

        p {
            margin: 1rem 0;
        }

        >img {
            width: 250px;
        }
    }

    .footer-block-4 {
        li {
            display: flex;
            flex-direction: row;
            justify-content: start;
            width: 70%;
        }

        p {
            margin: 0 auto;
        }
    }
}



@media screen and (max-width: 1024px) {
    footer {
        .wrap-footer-blocks {

            .footer-block-1 {

                justify-self: normal;
            }

            grid-template-columns: repeat(2, 1fr);

            >* {
                margin-top: 16px;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    footer {
        .wrap-footer-blocks {
            grid-template-columns: repeat(1, 1fr);

            >* {
                margin-top: 16px;
            }
        }


        .footer-block-4 {
            li {
                width:60%;
            }

        }
    }

}