.img_div {
    --size: 120px;

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    
    width: var(--size);
    height: var(--size);
}

.img_div img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.gallery_side {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}

.gallery {
    background: var(--primary-3);
    width: 600px;
    height: 700px;
    padding-top: 20px;

    margin: 0 auto;
}

.main_img {
    margin: 20px;
    width: 90%;
}

.main_img img {
    display: block;
    margin: 0 auto;

    object-fit: cover;
    height: 500px;
    width: 500px;
}